.dinnerContainer {
  width: 100%;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  background-color: #fdfdfd;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 500;
}

.h1 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 24px;
}

.categoryTitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

/* Бордер навколо категорії (всього списку) */
.list {
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff; /* для кращого контрасту */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  padding: 15px 20px;
  gap: 20px;
}

.li:last-child {
  border-bottom: none;
}

.li:hover {
  background-color: #f9f9f9;
}

.name {
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: 500;
  word-break: break-word;
  text-align: left;
  padding-right: 20px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  min-width: 120px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

.data p {
  margin: 4px 0;
}
.dishCart {
  min-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}
.dishMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  gap: 15px;
  padding: 0px 40px;
  font-weight: 400;
}
.purchaseButton {
  background-color: black;

  color: white;
  width: 100%;
  height: 50px;
  font-weight: 700;
}
.input {
  text-align: center;
  width: calc(100% - 22px);
  border: 1px solid black;
  outline: none;
  display: block;
  padding: 10px;
}
.inputWrap {
  width: 100%;
  position: relative;
}
.plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background-color: transparent;
  height: 24px;
}
.minus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background-color: transparent;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .li {
    flex-direction: column;
  }
  .dishCart {
    width: 200px;
    flex-direction: column;
    order: 1;
  }
  .inputWrap {
    width: auto;
    order: -1;
  }
  .purchaseButton {
    width: auto;
    padding: 0 20px;
  }
  .name {
    padding-right: 0;
    word-break: break-all;
  }
  .data {
    border: none;
    padding-left: 0;
    align-items: center;
  }
}
