.dinnerContainer {
  padding: 20px;
  text-align: center;
  padding-top: 120px;
}

.title {
  margin-bottom: 16px;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
}

.menuItem {
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  width: 300px;
}

.day {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.itemList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.liItem {
  margin-bottom: 8px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  margin-right: 8px;
}

.purchaseButton {
  display: block;
  margin: 12px auto 0;
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.purchaseButton:hover {
  background-color: #0056b3;
}

@media screen and (min-width: 1024px) {
  .menuList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 70px;
  }
  .menuItem {
    margin-bottom: 0;
    height: 100%;
    width: 330px;
    min-height: 370px;
    position: relative;
  }
  .purchaseButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
