.burger {
  width: 40px;
  height: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid black;
}
.bagImg {
  width: 22px;
  height: 26px;
}
.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  color: white;
  font-size: 12px;
}
.bagWrap {
  position: relative;
  width: 70px;
  display: flex;
  justify-content: center;
}
.logo {
  position: relative;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.title {
  font-family: "Sigmar";
  font-weight: 400;
  font-size: 30px;
  color: black;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
