/* Dinner.module.css */

/* Загальний стиль для контейнера */
.dinnerContainer {
  padding: 20px;
  padding-top: 120px;
  text-align: center;
  background-color: #fdfdfd;
  font-family: 'Arial', sans-serif;
  color: #000; /* Чорний колір для всього тексту */
}

/* Заголовок "Меню 05.2025" */
.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #000;
}

/* Список категорій */
.dishList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* За замовчуванням одна категорія в ряд */
  gap: 20px;
}

/* Один елемент категорії */
.dishItem {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Назва страви */
.dishName {
  font-weight: bold;
  margin: 0;
  font-size: 18px;
  color: #000;
}

/* Стилі для кнопки "додати до кошика" */
.addToCartButton {
  margin-top: 15px;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addToCartButton:hover {
  background-color: #333;
}

/* Адаптивність для великих екранів (десктоп) */
@media screen and (min-width: 1024px) {
  .dishList {
    grid-template-columns: repeat(4, 1fr); /* 4 категорії в ряд на десктопі */
  }
}

/* Адаптивність для планшетів */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .dishList {
    grid-template-columns: repeat(2, 1fr); /* 2 категорії в ряд на планшетах */
  }
}

/* Адаптивність для мобільних пристроїв */
@media screen and (max-width: 767px) {
  .dishList {
    grid-template-columns: 1fr; /* 1 категорія в ряд на мобільних пристроях */
  }
}
