.input {
  display: block;
  width: 100%;
  max-width: 200px;
  border: 1px solid black;
  padding: 10px 15px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.inputWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;

  max-width: 300px;
  width: 78px;
}
.rightSide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 142px;
}
.plus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 55px;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.minus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 55px;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.binButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.bin {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.bin:hover {
  transform: scale(1.1);
}
.currentImg {
  display: block;
  width: 100px;
  height: 142px;
  object-fit: cover;
}
.names {
  display: flex;
  align-items: center;
}
.cartList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}
