.list {
  list-style: none;
  padding-top: 30px;
}
.successModal {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1001;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #00000080;
}
.successModalText {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  font-family: "Poppins", "sans-serif";
  text-align: center;
}
.successModalWrap {
  position: relative;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 40px;
  height: auto;
}
.close {
  width: 30px;
  height: 30px;
}
.buttonClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
}
.label{
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 15px;
  
  
}

.titleLabel.titleLabel{
  font-size: 44px;
  font-family: "Nimbus", "sans-serif";
  font-weight: 500;
  
}
.span{
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
}
.titleLabel{
  font-size: 5px;
}
.labelContainer{
  padding: 0 40px;
}
.shopwithus{
  font-family: "Nimbus", "sans-serif";
  font-size: 21px;
  text-align: center;
  margin-top: 15px;
}